name: Node.js CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [21.x]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"
      - run: npm install -g yarn
      - run: yarn install --immutable
      - run: yarn build --if-present
        env:
          VITE_IS_HTTPS: "yes"
          VITE_WEBSOCKET_PROTOCOL: https
          VITE_BACKEND_HOST: lsuadhd.centralus.cloudapp.azure.com
          VITE_BACKEND_PORT: 443
      - run: yarn test --if-present
      - run: |
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          yarn deploy -- -u "github-actions-bot <support+actions@github.com>"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
